<!DOCTYPE html>

<html>
    <head>
        <title>Scriptures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div style="position: relative; padding: 5px; margin-left: auto; margin-right: auto; max-width: 400px; font-size: 1.1rem;">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: left">
                        <a href="{{{prevLink}}}">&lsaquo;--</a>
                    </td>
                    <td style="text-align: center">
                        <a href="/toc/{{work}}/{{book}}">{{bookName}} {{chapter}}</a>
                    </td>
                    <td style="text-align: right">
                        <a href="{{{nextLink}}}">--&rsaquo;</a>
                    </td>
                </tr>
            </table>

            <div style="text-align: justify; text-justify: inter-word;">
                {{#verses}}
                    <span style="color: #aaa">{{number}}</span>
                    {{verse}}
                {{/verses}}
            </div>

            <br/>
        </div>

        <script type="text/javascript">
            document.body.addEventListener('keydown', (event) =>
                {
                    if (event.key == "ArrowRight")
                        window.location.href = '{{{nextLink}}}';

                    if (event.key == "ArrowLeft")
                        window.location.href = '{{{prevLink}}}';
                }
            );
        </script>
    </body>
</html>
