.button {
	display: block;
	
	margin: 0 auto 2%;
	/*border-bottom: solid #aaa 1px;*/
	padding: 5px 0;
	width: 62%;
	max-width: 233px;
	
	color: #000;
	text-align: center;
	font-family: "Oswald";
	font-size: 18px;
	text-decoration: underline;
	
	-webkit-transition: all .25s;
	transition: all .25s;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}

.button:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.book-button {
	display: inline-block;
	
	margin-left: 2%;
	width: 47%;
}